{{!-- Navbar here --}}
<div class="row no-gutters navbarContainers">
  <div class="col-lg-12" style="height: 55px;">YEE</div>
</div>

<div class="row no-gutters">
  <div class="col-lg-1">fff</div>
  <div class="col-lg-10">
    <div class="row no-gutters">
      <div class="col-lg-7 googleMapsContainer">
        <div id="map"></div>
      </div>
      <div class="col-lg-5 brewerySelection Container">ddd</div>
    </div>
  </div>
  <div class="col-lg-1">sss</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/googleMaps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX6dNHTuVmhjdNOpff1FQk500tcdpQ1Eo&callback=initMap"