<div class="pageWrapper">
  <div class="columns is-gapless navbarHeader">
    <div class="column is-1"></div>
    <div class="column is-6">
      <div class="titleText has-text-centered">Seattle Brewery Search</div>
    </div>
    <div class="column is-4"></div>
    <div class="column is-1"></div>
  </div>

  <div class="columns is-gapless">
    <div class="column is-1 sideBars"></div>
    <div class="column is-6 googleMapsContent">
      <div id="map"></div>
    </div>
    <div class="column is-4 breweryContent">
      <div class="field">
        <div class="control">
          <input class="input is-primary breweryInput" type="text" placeholder="Primary input">
        </div>
      </div>
    </div>
    <div class="column is-1 sideBars"></div>
  </div>
</div>