<div class="row no-gutters">
    <div class="col-lg-6 leftBlock">TES </div>
    <div class="col-lg-1 centerBlock">TEST</div>
    <div class="col-lg-5 rightBlock">
        <div id="particles-js"></div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>