

<div class="columns">
    <div class="column is-7 ">
 
    </div>
</div>



<!--

 <div class="row no-gutters">
    <div class="col-2">ffff</div>

    <div class="col-8">
        <div class="contain">
            <span class="nameTitle">Seattle Brewery Search</span>
            {{!-- <img class="spaceNeedle" src="../public/images/spaceneedle.png"> --}}
        </div>
    </div>

    <div class="col-2">fff</div>
</div>

-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>