<div id="particles-js"></div>
<section class="hero is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                    </span>
                </div>
                <div id="navbarMenuHeroC" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active" href="/home">
                            Home
                        </a>
                        <a class="navbar-item">
                            Database mode
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="">
                <h1 class="title">
                    Click to get started!
                </h1>
                <div class="control has-text-centered">
                    <a href="/home">
                        <button class="button is-warning is-inverted is-outlined is-medium clickButton" href="/home">Click</button>
                    </a>

                </div>
                <img src="https://i.imgur.com/zMBgXSH.png" class="spaceNeedle" style="margin-bottom: 40px;">
            </div>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
            </div>
        </nav>
    </div>
</section>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/js/particles.js"></script>