@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC");

$black: #333333;

body {
  height: 100%;
  width: 100%;
  font-family: "Noto Sans SC", sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b67e18;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.leftBlock,
.centerBlock,
.rightBlock {
  height: 100vh;
}

.centerBlock {
  background-color: #b67e18;
  background: -webkit-linear-gradient (to right, white, #b67e18);
}
